PORT=8080
STAGE=development

DB_USER=
DB_PASSWORD=
DB_NAME=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

REDIS_ADDR=
REDIS_PASSWORD=

JWT_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_EXPIRY=
